/* GENERALES */
:root {
    --color-earth: #95714F;
    --color-moss: #8C916C;
    --color-sand: #C7AF94;
    --color-almond: #EADED0;
    --color-sage: #ACB087;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body {
    background-color: #EADED0;
    color: #3C3C3C;
}

a {

    text-decoration: none;
    color: var(--color-earth);

}

a:hover {
    color: #ACB087;
    text-decoration: none;

}

.btn-earth {

    background-color: var(--color-earth);
    border: none;
    color: #fff;

}

.btn-earth:hover {
    background-color: #ACB087;
    border: none;

}

.btn-sage {

    background-color: var(--color-sage);
    border: none;

}

.btn-sage:hover {
    background-color: var(--color-sand);
    border: none;
}

nav.navbar .navbar-collapse .nav-item:hover,
nav.navbar .navbar-nav .nav-item .dropdown-menu li:hover a {
    background-color: var(--color-earth) !important;
    opacity: 0.8;
    color: #fff;
}

.profile-section {

    .profile-data {
        margin-bottom: 8px;

        .data-name {
            font-weight: bold;
        }



        /* Condicional */
        &.block {
            .data-name {
                display: block;
                margin-bottom: 8px;

            }
        }

    }
}

.card img {
    height: 150px;
}

.table-responsive,
.table-header {
    text-align: center !important;

}

/* FIX jquery-ui in modal */
.ui-autocomplete {
    z-index: 9999 !important;
}


/* User perfil readings */

.tab-content.lecturas {
    padding: 1rem;
    background-color: #fff;
    border: solid 1px #ddd;
}

/* Imagen de libros búsqueda */

.container-img {
    width: 100px;
    height: 150px;
}

.card-container {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem 0;
}

.book-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.book-data {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 1rem;
}