/*---------------------------------------
  GENERAL
-----------------------------------------*/
* {
    padding: 0px;
    margin: 0px;
    font-family: var(--body-font-family) !important;
}


:root {
    --white-color: #ffffff;
    --primary-color: #81B29A;
    --secondary-color: #3D405B;
    --section-bg-color: #F4F1DE;
    --custom-btn-bg-color: #F2CC8F;
    --custom-btn-bg-hover-color: #E07A5F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;

    --body-font-family: 'DM Sans', sans-serif;

    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


body {
    background-color: var(--white-color);
    color: var(--dark-color);

}

/*---------------------------------------
  CONTAINER HEIGHT
-----------------------------------------*/
.full-page {
    min-height: calc(100vh - 64px);
}

/*---------------------------------------
  NAVBAR 
-----------------------------------------*/
nav {

    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--custom-btn-bg-color);
}

nav.navbar .navbar-collapse .nav-item:hover,
nav.navbar .navbar-nav .nav-item .dropdown-menu li:hover a {
    opacity: 0.8;
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

nav.navbar .nav-item a:focus,
nav.navbar .nav-item a:active {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.nav-logo {
    color: var(--custom-btn-bg-color);
    size: 500px;
}

a.navbar-brand {

    color: var(--white-color);
    font-weight: var(--font-weight-bold);

}

a.navbar-brand:hover {
    color: var(--custom-btn-bg-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);

}


.after-element {
    color: var(--custom-btn-bg-color);
    font-size: var(--p-font-size);
}

.after-element:hover {
    color: var(--custom-btn-bg-color);
    font-size: var(--p-font-size);
}


/* TODO En focus no cambia los estilos */
.after-element:focus {
    color: var(--custom-btn-bg-color);
    font-size: var(--p-font-size);
}

.mobile-element {
    border: none;
}

.mobile-element:focus {
    border: none;
}


.collapse-element li {
    text-align: center;
    border-bottom: 1px dotted var(--custom-btn-bg-color);
}

.collapse-element li:last-child {
    border-bottom: none;
}

.collapse-element li a {
    color: var(--white-color);
    text-decoration: none;
}




.navbar-toggler:focus,
.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

/*---------------------------------------
  BUTTONS
-----------------------------------------*/
.btn-earth {

    background-color: var(--custom-btn-bg-color);
    border: none;
    color: var(--dark-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;

}

.btn-earth:hover {
    background-color: var(--custom-btn-bg-hover-color);
    border: none;
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-medium);

}

.btn-sage {

    background-color: var(--color-sage);
    border: none;

}

.btn-sage:hover {
    background-color: var(--color-sand);
    border: none;
}



/*---------------------------------------
  QUOTE      
-----------------------------------------*/
.quote-text {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: var(--border-radius-medium);
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: var(--border-radius-medium);
    color: var(--dark-color);
    padding: 16px;

}


/*---------------------------------------
  LOGIN & REGISTER
-----------------------------------------*/

.cont-background {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%233d405bff'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='%23f2cc8fff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-1.712)' fill='url(%23a)'/></svg>")
}


/*---------------------------------------
  FORMS LINKS
-----------------------------------------*/

.landing-link {
    color: var(--secondary-color);
    transition: all 0.3s;
}

.landing-link:hover {
    color: var(--custom-btn-bg-hover-color)
}


/* ----------- */

.profile-section {

    .profile-data {
        margin-bottom: 8px;

        .data-name {
            font-weight: bold;
        }



        /* Condicional */
        &.block {
            .data-name {
                display: block;
                margin-bottom: 8px;


            }
        }

    }
}

.card img {
    height: 150px;
}

.table-responsive,
.table-header {
    text-align: center !important;

}

/* FIX jquery-ui in modal  */
.ui-autocomplete {
    z-index: 9999 !important;
}


/* User perfil readings  */
.tab-content.lecturas {
    padding: 1rem;
    background-color: #fff;
    border: solid 1px #ddd;
}

/* Imagen de libros búsqueda */

.container-img {
    width: 100px;
    height: 150px;
}

.card-container {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem 0;
}

.book-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.book-data {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 1rem;
}


/*---------------------------------------
  LANDING ANIMATION
-----------------------------------------*/

/*

#flip {
    animation: wrapper 6s ease-in-out infinite;
    height: 350px;
    width: 253px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg) rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: 0 0 0;
}

@keyframes wrapper {
    50% {
        transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg) rotateY(-180deg);
    }
}

#flip div {
    height: 350px;
    width: 24px;
    position: absolute;
    left: calc(100% - 1px);
    transform-origin: 0 100%;
    transform-style: preserve-3d;
    background-size: 253px 350px;
}

#flip #front,
#flip #front div {
    background-image: url(http://blogs.slj.com/afuse8production/files/2012/06/Hobbit1.jpg);
    box-shadow: inset rgba(255, 255, 255, 0.3) 0px -1px 0 0, #35582C 0px 1px 0px 0px;
}

#flip #front>div>div>div>div>div>div>div>div>div>div {
    box-shadow: inset rgba(255, 255, 255, 0.3) -1px -1px 0 0, #35582C 1px 1px 0px 0px;
}

#flip #back {
    transform: rotateY(.4deg);
    transform-origin: -100% 0;
}

#flip #back,
#flip #back div {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/164210/map1_.jpg);
}

#flip>div {
    left: 0;
    background-position-x: 0;
}

#flip div>div {
    background-position-x: -23px;
    animation: page 6s ease-in-out infinite;
}

#flip div>div>div {
    background-position-x: -46px;
}

#flip div>div>div>div {
    background-position-x: -69px;
}

#flip div>div>div>div>div {
    background-position-x: -92px;
}

#flip div>div>div>div>div>div {
    background-position-x: -115px;
}

#flip div>div>div>div>div>div>div {
    background-position-x: -138px;
}

#flip div>div>div>div>div>div>div>div {
    background-position-x: -161px;
}

#flip div>div>div>div>div>div>div>div>div {
    background-position-x: -184px;
}

#flip div>div>div>div>div>div>div>div>div>div {
    background-position-x: -207px;
}

#flip div>div>div>div>div>div>div>div>div>div>div {
    background-position-x: -229px;
}

@keyframes page {
    15% {
        transform: rotateY(-10deg);
    }

    50% {
        transform: rotateY(-2deg);
    }

    65% {
        transform: rotateY(10deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

#book {
    width: 248px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate3d(0px, 0px, -10px) rotateX(60deg) rotateZ(29deg);
    transform-style: preserve-3d;
}

@keyframes book {

    25%,
    50% {
        box-shadow: inset rgba(0, 0, 0, .2) 0px 0 50px -140px;
    }

    100% {
        box-shadow: inset rgba(0, 0, 0, .2) 510px 0 50px -140px;
    }
}

#book #top {
    animation: book 6s ease-in-out infinite;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/164210/map2.jpg);
    background-size: 100% 100%;
    background-position: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.2) 510px 0 50px -140px;
    height: 350px;
    width: 248px;
    position: absolute;
    left: 0;
    top: 0;
}

#book #bottom {
    background: #E7DED1;
    box-shadow: rgba(83, 53, 13, 0.2) 4px 2px 1px, #35582C 1px 1px 0px 0px;
    height: 350px;
    width: 253px;
    position: absolute;
    transform: translateZ(-40px);
    left: 0;
    top: 0;
}

#book #shadow {
    animation: shadow 6s ease-in-out infinite;
    box-shadow: inset rgba(83, 53, 13, 0) -200px 0 150px -140px;
    height: 350px;
    width: 248px;
    position: absolute;
    left: -100%;
    top: 0;
    transform: translateZ(-40px);
}

@keyframes shadow {
    20% {
        box-shadow: inset rgba(83, 53, 13, 0) -200px 0 150px -140px;
    }

    50% {
        box-shadow: inset rgba(83, 53, 13, 0.3) -350px 0 150px -140px;
    }

    60% {
        box-shadow: inset rgba(83, 53, 13, 0) -200px 0 150px -140px;
    }
}

#book #front {
    background: linear-gradient(top, #FCF6EA, #D8D1C3);
    background-size: 100% 2px;
    box-shadow: inset #C2BBA2 3px 0 0px, #35582C -2px 1px 0px 0px;
    height: 40px;
    width: 251px;
    left: -3px;
    position: absolute;
    bottom: -40px;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#book #right {
    background: linear-gradient(left, #DDD2BB, #BDB3A0);
    background-size: 2px 100%;
    box-shadow: inset rgba(0, 0, 0, 0) 0 0 0 20px;
    height: 100%;
    width: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
}

h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: 1;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.3);
}

#bookmark {
    position: absolute;
    transform: translate3d(20px, 350px, -16px);
    transform-style: preserve-3d;
}

#bookmark div {
    background: rgb(151, 88, 88);
    box-shadow: rgb(133, 77, 77) 1px 0;
    height: 10px;
    width: 20px;
    position: absolute;
    top: 9px;
    transform: rotateX(-14deg);
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

#bookmark>div>div {
    background: linear-gradient(to bottom, rgb(151, 88, 88), rgb(189, 123, 123), rgb(151, 88, 88));
}

#bookmark>div>div>div {
    background: linear-gradient(to bottom, rgb(151, 88, 88), rgb(133, 77, 77));
}

#bookmark>div>div>div>div {
    background: none;
    border-top: 0px solid transparent;
    border-right: 10px solid rgb(133, 77, 77);
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(133, 77, 77);
    height: 0;
    width: 0;
}

#bookmark-shadow {
    background: linear-gradient(to bottom, rgba(83, 53, 13, 0.25), rgba(83, 53, 13, 0.11));
    height: 15px;
    width: 20px;
    position: absolute;
    transform: translate3d(12px, 350px, -25px) rotateX(-90deg) skewX(20deg);
    transform-origin: 0 0;
}